﻿@model dev_webmvc_dotnet.Models.Weather


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-sm-12 col-xs-12">
            <div class="card p-4">
                <div class="d-flex">
                    <h6 class="flex-grow-1">@Html.DisplayName(Model.Location)</h6>
                    <h6>@Html.DisplayName(Model.Time)</h6>
                </div>
                <div class="d-flex flex-column temp mt-5 mb-3">
                    <h1 class="mb-0 font-weight-bold" id="heading"> @Html.DisplayName(Model.Temperature)° C </h1> <span class="small grey">@Html.DisplayName(Model.Condition)</span>
                </div>
                <div class="d-flex">
                    <div class="temp-details flex-grow-1">
                        </br>
                        <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <span> @Html.DisplayName(Model.WindSpeed) km/h </span> </p>
                        <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <span> @Html.DisplayName(Model.Humidity)% </span> </p>
                    </div>
                    <div> <img src="@Url.Content(Model.Icon)" width="100px"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

</br>


<button id='SendReports' type="button" class="btn btn-light mx-auto d-block btn-lg">Receive Weather by SMS and Email.</button>

<div class="modal fade" id="getCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"> Please Enter your Phone Number and Email Address</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" id="getCode" style="word-wrap:break-word;">
                <form id="smsEmail">
                    <div class="form-group">
                        <label for="emailLabel">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="smsLabel">Phone Number</label>
                        <input class="form-control" id="smsInput" placeholder="Enter phone number">
                    </div>
                    <button id="Send" class="btn btn-primary">Send</button>
                    @*<input id="Send" type="button" class="btn btn-primary" value="Send">*@
                </form>
            </div>
        </div>
    </div>
</div>



<form id="weather">
    @Html.HiddenFor(m => m.Condition)
    @Html.HiddenFor(m => m.Humidity)
    @Html.HiddenFor(m => m.Icon)
    @Html.HiddenFor(m => m.Location)
    @Html.HiddenFor(m => m.Temperature)
    @Html.HiddenFor(m => m.Time)
    @Html.HiddenFor(m => m.WindSpeed)
</form>

<script>

    $('#SendReports').click(function () {


        $("#getCodeModal").modal('show');

    });

    $('#Send').click(function () {


        //$("#getCodeModal").modal('show');


        var x = $('#weather').serializeArray();
        var indexed_array = {};

        $.map(x, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });

        console.log(indexed_array);

        $.ajax({
            url: '@Url.Action("Send","SendReports")',
            data: indexed_array,
            success: function (data) {
            },
            error: function () {
            }
        });
    });





</script>