﻿@model dev_webmvc_dotnet.Models.Weather

<head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap">




    <style>

        html,
        body {
            height: 100%;
            font-family: 'Marcellus', serif
        }

        * {
            padding: 0px;
            margin: 0px
        }

        body {
            background-color: #a5a5b1;
            display: grid;
            place-items: center
        }

        .card {
            background-color: #ffffff;
            border-radius: 50px;
            color: #6f707d;
            font-family: 'Marcellus', serif
        }

        #heading {
            font-size: 55px;
            color: #2b304d
        }

        .temp {
            place-items: center
        }

        .temp-details > p > span,
        .grey {
            color: #a3acc1;
            font-size: 12px
        }

        .fa {
            color: #a5a5b1
        }

        *:focus {
            outline: none
        }
    </style>
</head>





<body>

    @*<p>Click the button to get your coordinates.</p>

        <button onclick="getLocation()">Try It</button>

        <p id="location"></p>*@


    <button type="button" class="btn btn-light mx-auto d-block btn-lg" onclick="getLocation()">Show Me the Weather!</button>

    </br>

    <div id="display"></div>









</body>

<script>


        function getLocation() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(getWeather);
          } else {
              alert("Geolocation is not supported by this browser.");
          }
        }

    function getWeather(position) {
        $.ajax({
            url: '@Url.Action("GetWeather","Weather")',
            data: { 'latitude': position.coords.latitude, 'longitude': position.coords.longitude},
            success: function (data) {
                $('#display').html(data);
            },
            error: function () {
                $("#display").html("ERROR");
            }
        });
    }

    
</script>